sudo: required
language: generic
services:
  - docker
before_install:
  - docker pull sakshamsharma/docker-hakyll:v2
script:
  - docker run -it -v $PWD:/root/proj --entrypoint "/bin/bash" sakshamsharma/docker-hakyll:v2 -c 'cd /root/proj; stack --allow-different-user build && stack --allow-different-user exec site build'
  - bash ./build.sh
env:
  global:
  - COMMIT_AUTHOR_EMAIL="saksham0808@gmail.com"
  - ENCRYPTION_LABEL="e81a3a1fc839"
