<div id="about">
    <div id="about-card">
        <div id="about-btn-close">
            <i class="fa fa-remove"></i>
        </div>

        <img id="about-card-picture" src="https://avatars3.githubusercontent.com/u/10418596?v=3&amp;s=460" alt="Author's picture" />

        <h4 id="about-card-name">Saksham Sharma</h4>

        <div id="about-card-bio">Hacker. Programmer. Geek.</div>


        <div id="about-card-job">
            <i class="fa fa-briefcase"></i>
            <br/>
            3rd year Undergrad, Computer Science and Engineering
        </div>


        <div id="about-card-location">
            <i class="fa fa-map-marker"></i>
            <br/>
            Indian Institute of Technology Kanpur
        </div>

    </div>
</div>
