<header id="header">
  <div id="header-main" class="header-inner">
    <div class="outer">
      <a href="https://sakshamsharma.com" id="logo">
          <!-- {{ if .Site.Params.logo }} -->
          <i class="logo" style="background-image: url('/images/logo.png')"></i>
          <!-- {{end}} -->
          <span class="site-title">AceHack</span>
      </a>
      <nav id="main-nav">
        <a class="main-nav-link" href="/">Home</a>
        <a class="main-nav-link" href="/about">About</a>
        $for(links)$<a class="main-nav-link" href="$linkurl$">$linkname$</a>$endfor$
      </nav>
      <div id="search-form-wrap">
        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
          <input type="search" name="q" class="search-form-input" placeholder="Search">
          <button type="submit" class="search-form-submit">
          </button>
          <input type="hidden" name="sitesearch" value="sakshamsharma.com" />
        </form>
      </div>
    </div>
  </div>
  <div id="main-nav-mobile" class="header-sub header-inner">
    <table class="menu outer">
      <tbody>
          <tr>
          <td><a class="main-nav-link" href="/">Home</a></td>
          <td><a class="main-nav-link" href="/about">About</a></td>
          <td>
          <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
          <input type="search" name="q" class="search-form-input" placeholder="Search">
          <input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}" />
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</header>
