<aside class="profile" id="profile">
  $partial("templates/partials/profile-data.html")$
</aside>

<script>
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.onreadystatechange = function() {
    if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
      var elems = document.getElementsByClassName("gh-followers");
      for (var i=0; i<elems.length; i++) {
        elems[i].innerHTML = JSON.parse(xmlHttp.responseText).followers;
      }
    }
  }
  xmlHttp.open("GET", "https://api.github.com/users/sakshamsharma", true);
  xmlHttp.send(null);
</script>
