<nav id="sidebar" data-behavior="1">
    <div class="sidebar-container">
        <div class="sidebar-profile">
            <a href="/about">
                <img class="sidebar-profile-picture" src="https://avatars3.githubusercontent.com/u/10418596?v=3&amp;s=460" alt="Author's picture" />
            </a>
            <h4 class="sidebar-profile-name">Saksham Sharma</h4>

            <h5 class="sidebar-profile-bio">Hacker. Programmer. Geek.</h5>

        </div>

        <ul class="sidebar-buttons">

            <li class="sidebar-button">

                <a class="sidebar-button-link " href="/">

                    <i class="sidebar-button-icon fa fa-lg fa-home"></i>
                    <span class="sidebar-button-desc">Home</span>
                </a>
            </li>

            <li class="sidebar-button">

                <a class="sidebar-button-link " href="/categories">

                    <i class="sidebar-button-icon fa fa-lg fa-bookmark"></i>
                    <span class="sidebar-button-desc">Categories</span>
                </a>
            </li>

            <li class="sidebar-button">

                <a class="sidebar-button-link " href="/tags">

                    <i class="sidebar-button-icon fa fa-lg fa-tags"></i>
                    <span class="sidebar-button-desc">Tags</span>
                </a>
            </li>

            <li class="sidebar-button">

                <a class="sidebar-button-link " href="/archives">

                    <i class="sidebar-button-icon fa fa-lg fa-archive"></i>
                    <span class="sidebar-button-desc">Archives</span>
                </a>
            </li>

            <li class="sidebar-button">

                <a class="sidebar-button-link " href="/about">

                    <i class="sidebar-button-icon fa fa-lg fa-question"></i>
                    <span class="sidebar-button-desc">About</span>
                </a>
            </li>

        </ul>
        <ul class="sidebar-buttons">

            <li class="sidebar-button">

                <a class="sidebar-button-link " href="https://github.com/sakshamsharma" target="_blank">

                    <i class="sidebar-button-icon fa fa-lg fa-github"></i>
                    <span class="sidebar-button-desc">GitHub</span>
                </a>
            </li>

            <li class="sidebar-button">

                <a class="sidebar-button-link " href="https://in.linkedin.com/in/saksham-sharma" target="_blank">

                    <i class="sidebar-button-icon fa fa-lg fa-linkedin"></i>
                    <span class="sidebar-button-desc">LinkedIn</span>
                </a>
            </li>

            <li class="sidebar-button">

                <a class="sidebar-button-link " href="http://sakshamsharma.com/cv" target="_blank">

                    <i class="sidebar-button-icon fa fa-lg fa-file-o"></i>
                    <span class="sidebar-button-desc">Resume</span>
                </a>
            </li>


        </ul>
        <ul class="sidebar-buttons">

        </ul>
    </div>
</nav>
