$if(showProfile)$
<article class="article article-type-post" id="profile-article-div">
    <div class="article-inner">
        $partial("templates/partials/profile-article.html")$
    </div>
</article>
$endif$

$for(posts)$
<article class="article article-type-post" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        <!-- {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }} -->
        <!-- <a href="{{ .Permalink }}" itemprop="url"> -->
        <!--     <img src="{{ .Params.banner | absURL }}" class="article-banner"> -->
        <!-- {{ end }} -->
        <!-- </a> -->

        $partial("templates/partials/article_header.html")$
        <div class="article-entry" itemprop="articleBody">
            <p>
                $if(teaser)$
                    $teaser$...
                $else$
                    $summary$
                $endif$
            </p>
            <p class="article-more-link">
                <a href="$url$"> Read more </a>
            </p>
        </div>

        <footer class="article-footer">
          $if(teaser)$
              $summary$
          $endif$
          <script src="/js/article_footer.js"></script>
        </footer>
    </div>
</article>
$endfor$
