$if(showProfile)$
<article class="article article-type-post" id="profile-article-div">
    <div class="article-inner">
        $partial("templates/partials/profile-article.html")$
    </div>
</article>
$endif$

<style>
  .toc {
    visibility: hidden;
    height: 0;
  }
</style>

$for(posts)$
<article class="article article-type-post" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        $partial("templates/partials/article_header.html")$
        <div class="article-entry" itemprop="articleBody">
          <div class="article-teaser">
            <p>
              $if(teaser)$
                $teaser$...
              $else$
                $summary$
              $endif$
            </p>
          </div>
          <p class="article-more-link">
            <a href="$url$"> Read more </a>
          </p>
        </div>

        <footer class="article-footer">
          $if(teaser)$
              $summary$
          $endif$
        </footer>
    </div>
</article>
$endfor$

<script src="/js/article_footer.js"></script>
