<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-cell-phonemdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text" style="font-size: 2.5em;">$name$</h1>
    </div>
    <div class="mdl-grid portfolio-copy" style="max-width: 95%;">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-card__supporting-text no-padding">
        <p>
          $if(image)$
          <img class="img-rounded displayed" width="35%" align="right" style="margin=10px; border-radius: 15px; margin: 20px; margin-right: 5px;" src="$image$" />
          $endif$
          <p>
            $body$
          </p>
        </p>
      </div>
    </div>
  </div>
</div>


