<!DOCTYPE html>
<html lang="en-us">
  <head>
    $partial("templates/partials/head.html")$
    <script>
      var loc = window.location.href+'';
      if (loc.indexOf('http://')==0 &&
          (loc.indexOf('sakshamsharma.com') != -1 ||
           loc.indexOf('acehack.org') != -1)) {
        window.location.href = loc.replace('http://','https://');
      }
    </script>
  </head>
  <body>
    $partial("templates/partials/header.html")$
    <div class="container">
      <div class="outer">
        $if(showProfile)-$
        $partial("templates/partials/profile.html")$
        <section id="main">$body$</section>
        $else-$
        <section id="widemain">$body$</section>
        $endif$
        $partial("templates/partials/sidebar.html")$
      </div>
    </div>
    $partial("templates/partials/footer.html")$
  </body>
</html>
