<center>$if(extra)$ <h4 style="margin-bottom: 0;">$extra$</h4><br> $endif$</center>
<center>$if(tagList)$ <h6 style="margin: 0;">$tagList$</h6><br> $endif$</center>
<center style="margin: 0;">
  <label class="mdl-button mdl-js-button mdl-button--icon" for="expando1">
    <i class="material-icons">search</i>
  </label>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3">
    <label class="mdl-textfield__label" for="sample3">Search for tags</label>
  </div>
</center>

<script>
 var sbox = document.getElementById('sample3');
 sbox.onkeypress = function(e) {
   var event = e || window.event;
   var charCode = event.which || event.keyCode;

   if ( charCode == '13' ) {
     window.location.href = '/tags/' + sbox.value + '.html';
   }
 }
</script>

<div class="mdl-grid portfolio-max-width">
  $for(posts)$
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      $if(image)$<img class="article-image" src="$image$" border="0" alt="" style="max-height: 100px;">$endif$
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">$title$</h2>
    </div>
    <div class="mdl-card__supporting-text">
      $summary$
    </div>
    <div class="mdl-card__supporting-text">
      $date$ $if(author)$<strong>by</strong> $author$ $endif$
      $if(tags)$<br><strong>Tags: </strong> $tags$ $endif$
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="$url$">Read more</a>
    </div>
  </div>
  $endfor$
</div>
