<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-cell-phonemdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text" style="font-size: 2.5em;">$title$</h1>
    </div>
    $if(image)$
    <div class="mdl-card__media">
      <img class="article-image" src="$image$" border="0" alt="">
    </div>
    $endif$
    <div class="mdl-card__supporting-text">
      <strong>Written on: </strong> $date$
      $if(author)$<strong>by</strong> $author$ $endif$
      $if(tagsCtx)$<br><strong>Tags: </strong> $tagsCtx$ $endif$<br>
    </div>
    <div class="mdl-grid portfolio-copy" style="max-width: 95%;">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-card__supporting-text no-padding">
        <div class="con-body">
          $body$
        </div>
        <div
           class="fb-like"
           data-share="true"
           data-width="450"
           data-show-faces="true">
        </div>
        <!-- <div -->
        <!--   class="fb-comments" -->
        <!--   data-href="http://www.acehack.org$url$" -->
        <!--   data-numposts="20" -->
        <!--   data-width="100%"> -->
        <!-- </div> -->

        <script id="dsq-count-scr" src="//acehack.disqus.com/count.js" async></script>
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
          this.page.url = '//acehack.org$url$';
          this.page.identifier = '$id$';
          this.page.title = '$title$';
          };

          (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
          var d = document, s = d.createElement('script');

          s.src = '//acehack.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


      </div>
    </div>
  </div>

</div>
