<link rel="stylesheet" href="/css/archive.css">

$tagList$

$for(posts)$
<article class="postShorten postShorten--thumbnailimg-bottom"
    itemscope
    itemType="http://schema.org/BlogPosting">

    <div class="postBlock postShorten-wrap" class="$date$" id="post-$url$">

        <div class="postShorten-header">
            <h3 class="postShorten-title" itemprop="headline">
                <a class="link-unstyled" href="$url$">
                    $title$
                </a>
            </h3>
            <div class="post-meta">
                <time itemprop="datePublished">
                    $date$
                </time>

                <span>in</span>

                <a class="category-link" href="/categories/$category$">
                    $category$
                </a>

            </div>

        </div>
    </div>
</article>
$endfor$

<script src="/js/archive.js">
</script>
